
.heading{
    
    margin-right: 10%;
    color: white;
}
.para{
    color: white;
    padding-top: 10px;
    font-size: 30px;
   text-align: center;
   font-weight: bold;
}
.section1{
    display: flex;
    
}
.hed{
    margin-top: 10%;
    color: white;
}
.section1 >p{
    color: white;
    font-size: 20px;
}
.image{
    margin-left: 16%;
}
.overlay{
    background-color:orange;
    margin-left: 30%;
    margin-right: 30%;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
  }
  .form{
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
  .form-group{
   font-weight: 600;
    font-size: 28px;
    
  }
  .btn{
margin-top: 3%;
  }
  